
.containerFullWidth{
    display: flex;
    justify-content: center;

}

.topbar{
    width: 1200px;
    padding-bottom: 1rem;

}

.topLinks{
    padding-top: .5em;
    justify-items: end;
}


.linksList li{
    display: inline-flex;
    padding-left: 20px;
    font-size: 11px;
    font-weight: 700;
    
}
a{
    text-decoration: none;
    color: #7b7b7b;
}

.header{
    display: flex;
    padding-top: .5em;
    justify-content: space-between;
    width: 1200px;
}

.preLogo{
    font-size: large;
    font-weight: 900;
    letter-spacing: 3px;
    color: #551a8b;
}

.ChildMenuItems{
    width: 1200px;
    min-height: 300px;
    background: #551a8b;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: absolute;
    top: 56px;
    left: 0;
}